{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% set gridName = 'oro_dotmailer_datafield_mapping_grid' %}
{% set pageTitle = 'oro.dotmailer.datafieldmapping.entity_plural_label'|trans %}
{% block bodyClass %}dotmailer-page{% endblock %}
{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if is_granted('oro_dotmailer_datafield_mapping_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oro_dotmailer_datafield_mapping_create'),
                'entity_label': 'oro.dotmailer.datafieldmapping.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
