# Configuration for https://github.com/oroinc/phpstan-rules/
trusted_data:
    variables:
        Oro\Bundle\DotmailerBundle\QueryDesigner\ParentEntityFindQueryConverter:
            addWhereStatement:
                columnExpression: true
    properties:
        Oro\Bundle\DotmailerBundle\Model\Action\MarketingListStateItemCreateAction:
            getMarketingListEntitiesByEmailQueryBuilder:
                marketingListStateItemClassName: true
        Oro\Bundle\DotmailerBundle\Model\Action\MarketingListStateItemRemoveAction:
            getMarketingListEntitiesByEmailQueryBuilder:
                marketingListStateItemClassName: true
        Oro\Bundle\DotmailerBundle\Provider\MarketingListItemsQueryBuilderProvider:
            getRemovedMarketingListItemsQB:
                addressBookContactClassName: true
            getMarketingListItemQuery:
                contactClassName: true
    safe_methods:
        Oro\Bundle\DotmailerBundle\QueryDesigner\ParentEntityFindQueryConverter:
            buildColumnExpression: true
        Oro\Bundle\DotmailerBundle\QueryDesigner\MappingQueryConverter:
            buildColumnExpression: true
        Oro\Bundle\DotmailerBundle\Model\FieldHelper:
            getFieldExpr: true
            getRootTableAlias: true
