.icon-dotmailer {
    background-image: url(../img/dotmailer.ico);

    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;

    background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -webkit-background-size: 16px 16px;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */;
}

.icon-dotmailer.hide-text {
    font-size: 16px;
    line-height: 16px;
    color: transparent;
}

.connection-status {
    width: 294px;
}
