{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'orocrm_dotmailer_datafield_grid' %}
{% set pageTitle = 'orocrm.dotmailer.datafield.entity_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('orocrm_dotmailer_datafield_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('orocrm_dotmailer_datafield_create'),
                'entity_label': 'orocrm.dotmailer.datafield.entity_label'|trans
            }) }}
        </div>
        {{ UI.clientButton({
            'dataUrl' : path('orocrm_dotmailer_datafield_synchronize'),
            'successMessage': 'orocrm.dotmailer.datafield.syncronize_scheduled'|trans,
            'dataAttributes': {
                'action': 'sync-with-dotmailer'
            },
            'iCss' : 'icon-refresh',
            'aCss' : 'no-hash dotmailer-sync-btn',
            'title': 'orocrm.dotmailer.datafield.synchronize'|trans,
            'label': 'orocrm.dotmailer.datafield.synchronize'|trans
        }) }}
        <script type="text/javascript">
            require(['orocrmdotmailer/js/sync-buttons-handler'], function(Handler){
                new Handler('.dotmailer-sync-btn');
            });
        </script>
    {% endif %}
{% endblock %}
